body {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  width: 80vw;
  margin: 0 auto;
}
header {
  border-bottom: 2px solid black;
  text-align: center;
  margin: 0 auto 2vw;
}
section {
  width: 80vw;
  margin: 0 auto;
}
a, a:hover, a:active, a:visited {
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
  padding: 1vw;
}
h1 {
  font-size: 4em;
  font-weight: 200;
}
h2{
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size 2em;
  text-transform: lowercase;
  text-transform: capitalize;
}
p {
  text-transform: lowercase;
}
input, button {
  font-size: 2vw;
}
input {
  color: grey;
  padding: .8vw;
  width: 30vw;
}
button {
  padding: 1vw;
}
img{
  border: 2px dashed red;
  width: 100%;

}
footer {
  text-align: left;
  padding: 3vh 0 3vh;
  position: fixed;
  bottom: 0;
  font-weight: 400;
  display: none;
  background-color: #FFFFFF;
  width: 100%;
}
footer:hover {
  background-image: linear-gradient(to left, #FFFFFF, #ECECEC, #FFFFFF);
  background-color: none;
}
#emptySection {
  height: 10vh;
  width: 100%;
  /*border: 5px dotted black;*/
}
#search {
  display: flex;
  justify-content: space-around;
  /*margin-top: 6vw;*/
  margin-bottom: 5vw;
  flex-wrap: wrap;
}
#results {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  /*justify-content: flex-start;*/
  /*flex-direction: row;*/
  /*border: 1px dotted black;*/
  background-color: transparent;
  padding-bottom: 4em;
  width: 100%
}
.result {
  width: 30vh;
  height: 30vh;
  border: 2px solid black;
  /*margin-bottom: .7vw;*/
  margin: .3vw;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  padding: 1.2em;
  word-wrap: break-word;

}
.searchBar {
  /*width: 50vw;;*/
}
